<a href="https://colab.research.google.com/github/suadamohammed/pandas/blob/main/New_Pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the necessary libraries

In [ ]:
import pandas as pd

Mount the google drive and set your path to the parent directory where you save your dataset

Reading the .csv file

In [ ]:
df=pd.read_csv("Salaries.csv")
print(df)

Exploring the dataframes

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.columns
print(df[['phd','rank']])

In [ ]:
print(df['rank'].dtype)

Data Frames attributes

In [ ]:
df.dtypes

In [ ]:
df.shape

Data Frames methods

In [ ]:
df[['phd']].mean()

In [ ]:
# print(df.mean())

Selecting a column in a Data Frame

In [ ]:
print(df['sex'])
print(df.sex)

In [ ]:
df['salary'].mean()

Data Frames groupby method

In [ ]:
#Group data using rank
df_rank = df.groupby(['rank'])
#Calculate mean value for each numeric column per each group
df_rank.mean()

In [ ]:
#Calculate mean salary for each professor rank:
df.groupby('rank')[['salary']].mean()

In [ ]:
#pass sort=False for potential speedup:
df_rank=df.groupby(['rank'],sort=False)[['salary']]
print(df_rank.mean())

Data Frame: filtering

In [ ]:
#Calculate mean salary for each professor rank:
df_sub = df[ df['salary'] > 120000 ]

In [ ]:
#Select only those rows that contain female professors:
df_f = df[ df['sex'] == 'Female' ]

Data Frames: Slicing

In [ ]:
#Select column salary:
df['salary']

In [ ]:
#Select column salary:
df[['rank','salary']]

In [ ]:
#Select rows by their position-[starting_row:ending_row]
df[10:20]

In [ ]:
#Select rows by their labels:
df_sub.loc[10:20,['rank','sex','salary']]

In [ ]:
#Select rows by their labels:
df_sub.loc[10:20,['rank','sex','salary']]

In [ ]:
#Select rows by their labels:
df_sub.iloc[10:20,[0, 3, 4, 5]]

In [ ]:
df.iloc[0]  # First row of a data frame
# df.iloc[i]  #(i+1)th row
# df.iloc[-1] # Last row

In [ ]:
df.iloc[:, 0]  # First column
# df.iloc[:, -1] # Last column

In [ ]:
df.iloc[0:7]       #First 7 rows
# df.iloc[:, 0:2]    #First 2 columns
# df.iloc[1:3, 0:2]  #Second through third rows and first 2 columns
# df.iloc[[0,5], [1,3]]  #1st and 6th rows and 2nd and 4th columns

In [ ]:
# Create a new data frame from the original sorted by the column Salary
df_sorted = df.sort_values( by ='service')
df_sorted.head()

In [ ]:
df_sorted = df.sort_values( by ='service',ascending=False)
df_sorted.head(20)

In [ ]:
#sort the data using 2 or more columns:
df_sorted = df.sort_values( by =['service', 'salary'], ascending = [True, False])
df_sorted.head(10)

In [ ]:
# Drop the 'Math' column

df_sorted.drop(columns = 'phd')
df_sorted.head(10)

In [ ]:
# Describe function on numerical variable

df_sorted['salary'].describe()

In [ ]:
# What is the median salary?

df_sorted['salary'].median()

In [ ]:
# Encode male as 1 and female as 0
df_sorted['Encoded Sex'] = df_sorted['sex'].map({'Male':1, 'Female':0})

In [ ]:
# Check for null values

df_sorted.isnull().sum()

In [ ]:
df['sex'].value_counts()

Missing Values

In [ ]:
# Read a dataset with missing values
flights = pd.read_csv("flights.csv")

In [ ]:
# Select the rows that have at least one missing value
flights[flights.isnull().any(axis=1)].head()

In [ ]:
flights[['dep_delay','arr_delay']].agg(['min','mean','max'])

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df.plot(kind = 'scatter', x = 'salary', y = 'phd')
plt.show()